body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    background-image: url(imagenes/foto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;


    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

#question-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    /* Centra la pregunta horizontalmente */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    display: block;
    /* Muestra las opciones en forma vertical */
    margin: 5px auto;
    /* Centra las opciones verticalmente */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#next-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#next-button:hover {
    background-color: #1e7e34;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#scoreDisplay {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
}